fastapi
uvicorn
streamlit
sentence-transformers
python-dotenv
google-genai
groq
openai
faiss-cpu
pypdf2
requests
python-multipart
numpy
pandas
matplotlib
langchain-groq
langchain_google_genai
langchain